body {
    background: url("../images/twinpeaks.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
}

h1 {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 72px;
}

p {
    font-family: 'Permanent Marker';
    text-align: left;
    font-size: 15px;
}

#search-form {
    margin-left: 350px;
}

#search-view {
    font-style: italic;
}

.image-col {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    padding: 0 0;
    margin: 0 0px 0px 10px;
    opacity: 1;
}