body {
    background: url("../images/twinpeaks.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    color: white;
    text-shadow: 2px 2px #555555;
}

a {
    color: rgb(138, 255, 105);
    text-shadow: 2px 2px rgb(0, 91, 36);
}

h1 {
    font-family: 'Permanent Marker';
    text-align: center;
    font-size: 72px;
}

#uv-index, #weather {
    color: rgb(255, 255, 188)
}

#quotes-view {
    font-size: 32px;
}

#zip-error {
    color: rgb(244, 132, 132);
    text-shadow: 2px 2px rgb(80, 0, 0);
}

#search-form, #zip-error {
  display: flex;
  justify-content: center;
}

#search-view {
    font-style: italic;
}

.image-col {
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    padding: 0 0;
    margin: 0 0px 0px 10px;
    opacity: 1;
}